html, body {
    height:100%;
    font-size: 25px;
  }


/* FOOTER SETTINGS*/
footer {
    display:flex;
    background-color: rgba(250, 153, 153, 0.62);
      position: fixed;
    left: 0;
      bottom: 0;
    right: 0;
    height: 50px;
      width: 100%;
    color: #f064d9;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    justify-content:center;
     align-items:center;
}
  
#footer-menu {
    display: block;
}
  
#footer-menu ul li {
    display: inline-block;
    margin-right: 15px;
}

/* LINK COLORS */
a:link {
    color: #f064d9;
}
  
/* visited link */
a:visited {
    color: #9c64f0;
}
  
/* mouse over link */
a:hover {
    color: hotpink;
}
  
/* selected link */
a:active {
    color: #f064d9;
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}